# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea
.metadata
.packages
.project
.settings/
.vscode/
build/
find.xml
profile/
thumbs.db

# Android
/android/app/src/main/assets/flutter_assets/
/android/app/src/main/res/merged/
/android/app/src/main/res/values/generated.xml
/android/gradle/wrapper/gradle-wrapper.jar
/android/key.properties
/android/local.properties
/android/.gradle/
/android/app/build/

# iOS
/ios/Pods/
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-*
/ios/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_*
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner/GeneratedPluginRegistrant-Swift.h
/ios/Runner/GeneratedPluginRegistrant-Swift.m
/ios/Runner/flutter_export_environment.sh
/ios/Runner.xcworkspace/contents.xcworkspacedata
/ios/Runner.xcworkspace/xcshareddata/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcshareddata/
/ios/Flutter/App.framework
/ios/Flutter/engine.version
/ios/Flutter/flutter_assets/
/ios/Flutter/Flutter.podspec

# Windows
/windows/flutter/ephemeral/
/windows/flutter/generated_plugins.cmake
/windows/runner/Debug/
/windows/runner/Profile/
/windows/runner/Release/
/windows/runner/win32_headers/
/windows/runner/flutter_window.pdb

# Web
/web/flutter_bootstrap.js

# Danger
# Ignore environment variables files
.env*
